@font-face {
    font-family: "Work Sans";
    src: url("../assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Work Sans";
    src: url("../assets/fonts/WorkSans-Italic-VariableFont_wght.ttf") format("truetype");
    font-style: italic;
}

:root {
    /* Border radius*/
    --main-border-radius: clamp(8px, 2.0356vw + .3664px, 16px);

    /* Colors */
    --white: hsl(0 100% 100%);
    --black: hsl(0 0% 0%);
    --purple-950: hsl(292 42% 14%);
    --purple-600: hsl(292 16% 49%);
    --purple-100: hsl(275 100% 97%);
    --violet-600: hsl(281 83% 54%);
    --violet-shadow: hsl(281 100% 23% / 0.1);

    /* Color settings */
    --body-background-color: var(--purple-100);
    --body-color: var(--purple-950);
    --border-color: var(--purple-100);
    --main-background-color: var(--white);
    --p-color: var(--purple-600);
    --hover-color: var(--violet-600);

    /* Images */
    --background-pattern: url("../assets/images/background-pattern-desktop.svg");
    --h1-icon: url("../assets/images/icon-star.svg");
    --open-icon: url("../assets/images/icon-plus.svg");
    --close-icon: url("../assets/images/icon-minus.svg");

    /* Font family */
    --work-sans: "Work Sans", Tahoma, sans-serif;

    /* Font sizes */
    --h1-font-size: clamp(2rem, 6.1069vw + .5687rem, 3.5rem);
    --h2-font-size: clamp(1rem, .5089vw + .8807rem, 1.125rem);
    --body-font-size: clamp(.875rem, .5089vw + .7557rem, 1rem);

    /* Line heights */
    --body-line-height: auto;
    --p-line-height: 1.5;

    /* Letter spacing */
    --body-letter-spacing: 0;

    /* Font weights */
    --bold: 700;
    --semi-bold: 600;
    --regular: 400;

    --h1-font-weight: var(--bold);
    --h2-font-weight: var(--semi-bold);
    --body-font-weight: var(--regular);

    /* Spacing */
    --default-spacing: 24px;

    --body-padding: var(--default-spacing);
    --main-padding: clamp(24px, 4.0712vw + 8.7328px, 40px);
    --main-gap: clamp(24px, 2.0356vw + 16.3664px, 32px);
    --h1-gap: var(--default-spacing);
    --h2-container-margin-block: var(--default-spacing);
    --p-container-margin-block: var(--default-spacing);

    /* Shadow */
    --main-shadow: 0 32px 56px 0 var(--violet-shadow);

    /* Sizing */
    --background-pattern-height: clamp(232px, 22.3919vw + 148.0305px, 320px);
    --h1-icon-size: clamp(21px, 3.5623vw + 7.6412px, 35px);
    --h2-height: 30px;
    --main-max-width: 37.5rem;
    --toggle-button-size: 1.52375rem;
    --p-height: auto;

    /* Transition */
    --transition-time: 0.4s;
}

@media (prefers-reduced-motion: reduce) {
    :root {
        --transition-time: 0s;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--work-sans);
    line-height: var(--body-line-height);
    letter-spacing: var(--body-letter-spacing);
    font-weight: var(--body-font-weight);
    font-size: var(--body-font-size);
    background: var(--body-background-color);
    color: var(--body-color);
    padding: var(--body-padding);
}

body::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;
    height: var(--background-pattern-height);
    width: 100%;
    background: var(--background-pattern) top/cover no-repeat;
}

button {
    display: block;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
    display: flex;
    align-items: center;
    margin-block-end: var(--main-gap);
    gap: var(--h1-gap);
}

h1::before {
    content: "";
    display: block;
    width: var(--h1-icon-size);
    height: var(--h1-icon-size);
    background: var(--h1-icon) center/contain no-repeat;
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
    cursor: pointer;
}

@media (hover: hover) {
    h2:hover {
        color: var(--hover-color);
    }
}

.h2-container {
    display: flex;
    min-height: var(--h2-height);
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    margin-block: var(--h2-container-margin-block) 0;
}
  
img, svg {
    display: block;
    max-width: 100%;
}

li:not(li:last-child) {
    border-block-end: 1px solid var(--border-color);
}

main {
    flex: 0 1 var(--main-max-width);
    min-width: 320px;
    padding: var(--main-padding);
    padding-block-end: calc(var(--main-padding) - var(--h2-container-margin-block));
    background-color: var(--main-background-color);
    box-shadow: var(--main-shadow);
    border-radius: var(--main-border-radius);
}

p {
    line-height: var(--p-line-height);
    color: var(--p-color);
    overflow: hidden;
    height: var(--p-height);
    margin-block: var(--p-container-margin-block);
    transition: height var(--transition-time), margin var(--transition-time);
}

.closed p {
    height: 0;
    margin-block-end: 0;
}

.toggle {
    width: var(--toggle-button-size);
    height: var(--toggle-button-size);
    flex: 0 0 auto;
    border: none;
    background: center/contain no-repeat;
}

.open .toggle {
    background-image: var(--close-icon);
}

.closed .toggle {
    background-image: var(--open-icon);
}

ul {
    list-style: none;
}
