@font-face {
    font-family: "Work Sans";
    src: url("../assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Work Sans";
    src: url("../assets/fonts/WorkSans-Italic-VariableFont_wght.ttf") format("truetype");
    font-style: italic;
}

:root {
    /* Border radius*/
    --main-border-radius: clamp(8px, 2.0356vw + .3664px, 16px);

    /* Colors */
    --white: hsl(0 100% 100%);
    --black: hsl(0 0% 0%);
    --purple-950: hsl(292 42% 14%);
    --purple-600: hsl(292 16% 49%);
    --purple-100: hsl(275 100% 97%);
    --violet-600: hsl(281 83% 54%);
    --violet-shadow: hsl(281 100% 23% 0.1);

    /* Color settings */
    --body-background-color: var(--purple-100);
    --body-color: var(--purple-950);
    --border-color: var(--purple-100);
    --main-background-color: var(--white);
    --p-color: var(--purple-600);

    /* Images */
    --background-pattern: url("../assets/images/background-pattern-desktop.svg");
    --h1-icon: url("../assets/images/icon-star.svg");
    --open-icon: url("../assets/images/icon-plus.svg");
    --close-icon: url("../assets/images/icon-minus.svg");

    /* Font family */
    --work-sans: "Work Sans", Tahoma, sans-serif;

    /* Font sizes */
    --h1-font-size: clamp(2rem, 6.1069vw + .5687rem, 3.5rem);
    --h2-font-size: clamp(1rem, .5089vw + .8807rem, 1.125rem);
    --body-font-size: clamp(.875rem, .5089vw + .7557rem, 1rem);

    /* Line heights */
    --body-line-height: auto;
    --p-line-height: 1.5;

    /* Letter spacing */
    --body-letter-spacing: 0;

    /* Font weights */
    --bold: 700;
    --semi-bold: 600;
    --regular: 400;

    --h1-font-weight: var(--bold);
    --h2-font-weight: var(--semi-bold);
    --body-font-weight: var(--regular);

    /* Spacing */
    --default-spacing: 24px;

    --body-padding: var(--default-spacing);
    --main-padding: clamp(24px, 4.0712vw + 8.7328px, 40px);
    --main-gap: clamp(24px, 2.0356vw + 16.3664px, 32px);
    --li-padding-block: var(--default-spacing);
    --p-margin-top: var(--default-spacing);
    --h1-gap: var(--default-spacing);

    /* Shadow */
    --main-shadow: 0 32px 56px 0 var(--violet-shadow);

    /* Sizing */
    --h1-icon-size: clamp(21px, 3.5623vw + 7.6412px, 35px);
    --h2-height: 30px;
    --toggle-button-size: 1.52375rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--work-sans);
    line-height: var(--body-line-height);
    letter-spacing: var(--body-letter-spacing);
    font-weight: var(--body-font-weight);
    font-size: var(--body-font-size);
    background: var(--body-background-color);
    color: var(--body-color);
    padding: var(--body-padding);
}

body::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    z-index: -1;
    height: clamp(232px, 22.3919vw + 148.0305px, 320px);
    width: 101%;
    background: var(--background-pattern) top/cover no-repeat;
}

button {
    display: block;
    font-size: inherit;
    font-family: inherit;
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
    display: flex;
    align-items: center;
    margin-block-end: var(--main-gap);
    gap: var(--h1-gap);
}

h1::before {
    content: "";
    display: block;
    width: var(--h1-icon-size);
    height: var(--h1-icon-size);
    background: var(--h1-icon) center/contain no-repeat;
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
}

.h2-container {
    display: flex;
    min-height: var(--h2-height);
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}
  
img, svg {
    display: block;
    max-width: 100%;
}

li {
    padding-block: var(--li-padding-block);
}

li:first-child {
    padding-block-start: 0;
}

li:last-child {
    padding-block-end: 0;
}

li:not(li:last-child) {
    border-block-end: 1px solid var(--border-color);
}

main {
    flex: 0 1 600px;
    min-width: 320px;
    padding: var(--main-padding);
    background-color: var(--main-background-color);
    box-shadow: var(--main-shadow);
    border-radius: var(--main-border-radius)
}

p {
    line-height: var(--p-line-height);
    color: var(--p-color);
    margin-block-start: var(--p-margin-top);
}

.toggle {
    width: var(--toggle-button-size);
    height: var(--toggle-button-size);
    flex: 0 0 auto;
    border: none;
    background: center/contain no-repeat;
}

.open .toggle {
    background-image: var(--close-icon);
}

.closed .toggle {
    background-image: var(--open-icon);
}

ul {
    list-style: none;
}
