@font-face {
    font-family: "Work Sans";
    src: url("../assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Work Sans";
    src: url("../assets/fonts/WorkSans-Italic-VariableFont_wght.ttf") format("truetype");
    font-style: italic;
}

:root {
    /* Colors */
    --white: hsl(0 100% 100%);
    --black: hsl(0 0% 0%);
    --purple-950: hsl(292 42% 14%);
    --purple-600: hsl(292 16% 49%);
    --purple-100: hsl(275 100% 97%);
    --violet-600: hsl(281 83% 54%);
    --violet-shadow: hsl(281 100% 23% 0.1);

    /* Color settings */
    --body-background-color: var(--purple-100);
    --body-color: var(--purple-950);
    --border-color: var(--purple-100);
    --main-background-color: var(--white);
    --p-color: var(--purple-600);

    /* Images */
    --background-pattern: url("../assets/images/background-pattern-desktop.svg");
    --h1-icon: url("../assets/images/icon-star.svg");
    --open-icon: url("../assets/images/icon-plus.svg");
    --close-icon: url("../assets/images/icon-minus.svg");

    /* Font family */
    --work-sans: "Work Sans", Tahoma, sans-serif;

    /* Font sizes */
    --h1-font-size: clamp(2rem, 6.1069vw + .5687rem, 3.5rem);
    --h2-font-size: clamp(1rem, .5089vw + .8807rem, 1.125rem);
    --body-font-size: clamp(.875rem, .5089vw + .7557rem, 1rem);

    /* Line heights */
    --body-line-height: auto;
    --p-line-height: 1.5;

    /* Letter spacing */
    --body-letter-spacing: 0;

    /* Font weights */
    --bold: 700;
    --semi-bold: 600;
    --regular: 400;

    --h1-font-weight: var(--bold);
    --h2-font-weight: var(--semi-bold);
    --body-font-weight: var(--regular);

    /* Shadow */
    --main-shadow: 0 32px 56px 0 var(--violet-shadow);

    /* Sizing */
    --h1-icon-size: clamp(21px, 3.5623vw + 7.6412px, 35px);
}

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: var(--work-sans);
    line-height: var(--body-line-height);
    letter-spacing: var(--body-letter-spacing);
    font-weight: var(--body-font-weight);
    font-size: var(--body-font-size);
    background: var(--body-background-color);
    color: var(--body-color);
}

button {
    display: block;
    font-size: inherit;
    font-family: inherit;
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
    display: flex;
    align-items: center;
}

h1::before {
    content: "";
    display: block;
    width: var(--h1-icon-size);
    height: var(--h1-icon-size);
    background: var(--h1-icon) center/contain no-repeat;
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
}
  
img, svg {
    display: block;
    max-width: 100%;
}

li:not(li:last-child) {
    border-block-end: 1px solid var(--border-color);
}

main {
    background-color: var(--main-background-color);
    box-shadow: var(--main-shadow);
}

p {
    line-height: var(--p-line-height);
    color: var(--p-color);
}
